.Pokemon-type div{
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.pagination-wrapper {
    margin-top: 25px;
    display: flex;
    gap: 15px;
}

.pagination-wrapper button {
    padding: 10px 22px;
    border: none;
    border-radius: 8px;

    background-color: #4f46e5;
    color: white;

    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
    font-family: 'Courier New', Courier, monospace;
}

.pagination-wrapper button:hover:not(:disabled) {
    transform: translateY(-2px);
}

.pagination-wrapper button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


.Pokemon-details-wrapper {
    max-width: 500px;
    margin: 30px auto;
    padding: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    border-radius: 20px;

    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.Pokemon-image {
    width: 280px;
    height: 280px;
    object-fit: contain;
}

.Pokemon-name {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 10px;
}

.Pokemon-height,
.Pokemon-weight {
    font-size: 1.1rem;
    margin-top: 5px;
}

.Pokemon-type {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.Pokemon-type div {
    background-color: #dbe7f3;
    padding: 8px 18px;
    border-radius: 999px;
    font-weight: 600;
    text-transform: capitalize;
}