.Pokemon-type div{
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 1rem;
    /* font-family: 'Courier New', Courier, monospace; */
    font-weight: 600;
}

.pagination-wrapper {
    margin-top: 25px;
    display: flex;
    gap: 15px;
}

.pagination-wrapper button {
    padding: 10px 22px;
    border: none;
    border-radius: 8px;

    background-color: #4f46e5;
    color: white;

    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
    font-family: 'Courier New', Courier, monospace;
}

.pagination-wrapper button:hover:not(:disabled) {
    transform: translateY(-2px);
}

.pagination-wrapper button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


.Pokemon-details-wrapper {
    max-width: 500px;
    margin: 30px auto;
    padding: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(30, 41, 59, 0.9);
    border-radius: 20px;

    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.pokemon-details-wrapper {
  background: rgba(30,41,59,.9);
    display: flex;
    flex-direction: column;
    align-self: center;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,.08);
    border-radius: 24px;
    padding: 2rem;
    color: white;
}

.Pokemon-image {
    width: 280px;
    height: 280px;
    object-fit: contain;
}

.Pokemon-image {
    width: 250px;
    height: 250px;
    transition: .3s ease;
}
.Pokemon-image:hover {
  transform: scale(1.08);
}
.Pokemon-name{
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 1rem;
}

.Pokemon-height,
.Pokemon-weight {
    font-size: 1.1rem;
    margin-top: 5px;
}

.Pokemon-type {
    padding: .5rem 1rem;
    border-radius: 999px;
    font-weight: 600;
    margin-top: 15px;
}

.Pokemon-type div {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px 18px;
    border-radius: 999px;
    font-weight: 600;
    text-transform: capitalize;
}